!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style_main.css">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<title> Supermarket Inner Page </title>
</head>
<header>
  
  <h1><span>Welcome </span><%=  user.fName%> <%= user.lName%></h1>
  <h3>Enter Delivery Information</h3>
</header>
<div class="flex">
  <nav>
    <a class="logo" href="#">
      <h2>Activites</h2>
      <p>Please Select an action</p>
    </a> 
   
    <a href="/">
      <i class="fa fa-book fa-lg"></i>
      <span>Home</span>
    </a>
    
    <a href="#">
      <i class="fa fa-book fa-lg"></i>
      <span>Choice 1</span>
    </a>
  
    <form id="inventory" action = "/addInventory" method="get">
      <button type="submit"><i class="fa fa-book fa-lg"></i><span>Add Inventory</span></button>
      </form>
  
    <form id="inventory" action = "/inventory" method="get">
      <button type="submit"><i class="fa fa-book fa-lg"></i><span>View Inventory</span></button>
      </form>
  
    <form id="inventory" action = "/users" method="get">
        <button type="submit"><i class="fa fa-user fa-lg"></i><span>Users</span></button>
        </form>
  
      <form id="logoutf" action = "/logout?_method=DELETE" method="POST">
      <button type="submit"><i class="fa fa-key fa-lg"></i><span>Log Out</span></button>
      </form>
   
  
    </nav>
  <div class="contents">
    <h1>Delivery</h1>
  
    <h3>Please enter the UPC and Amount of items received in a Delivery</h3>


    <form method="post" id="addDeliveryPOST" action="/addDeliveryPOST">

        
        
          <br>
          <label for="UPC" style="width:200px; display: inline-block;" >Item UPC</label>
          <input type="number" id="UPC" name="UPC" placeholder="UPC #" required > <br>
          <label for="Amount" style="width: 200px; display: inline-block;" >Amount</label>
          <input type="number" id="Amount" name="Amount" placeholder="Amount" required> <br>

          <button id="addDeliveryPOST" type="submit" style="color: black; width: 150px;"  ><span> Add to Inventory</span> </button>
      
    </form>
    
	<script>
        function showMsg(){
            Swal.fire(
                'Create Staff',
                'This page allows you to create a staff profile!',
                'question'
            );
        }
	 </script>

  </div>
</div>
<footer>
 <div class="left">
      Final Project Templete | some context| 
  </div>
  <div class="right">
    <a href="#"> Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Privacy Policy</a>
  </div>
</footer>